body {
    font-family: 'Montserrat', 'Lato', 'Source Sans Pro';
}

.error { 
    color: red; 
    font-size: 12px;
}

table {
    padding-bottom: 25px;
}

input[type=text], [type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: rgb(235, 89, 31);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', 'Lato', 'Source Sans Pro'
}

input[type=submit]:hover {
    background-color: rgb(235, 110, 61);
    
}